.searchResultContainer{
    background-color: rgb(224, 221, 221);
    display:flex;
}
.filterBox{
    width:25%;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    align-items: center;
    
}

.searchResultProductContainer{
   width:100%;
    display: block;
    
}

.searchResultFilterBoxSecondaryDiv{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceFilter{
   width:100%;
   border: 1px solid black;
}

.categoryFilter{
    width:100%;
    border: 1px solid black;
}

.searchResultProductCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
}

.searchResultProductDetails{
    padding:2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:40%;
    
}

.productItemImage{
    width:20vmax;
}

.searchResultThirdDiv{
    padding:2%;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

@media screen and (max-width:600px){
    .searchResultContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filterBox{
        width:100%
    }

    .searchResultProductContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchResultProductCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchResultProductCard >p{
        width:100%;
    }

    .searchResultProductDetails{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}