.CarouselImage{
   padding: 0;
   width:100%;
   height: 18vw;
}

.ProductCarousel{
padding: 4%;
 min-height: 30vw;
 width:40%;
 height: 100%;
 /* border: 1px solid black; */
 display: inline-block;
padding-top:6% ;
}

.detailDiv{

    padding: 4%;
    padding-top:0;
    width:60%;
    /* border: 1px solid black; */
    display: inline-block;
}

.ProductContainer{
    
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    /* display: inline; */
    align-items: center;
    
}

.reviews{
    margin:2%;
}

@media screen and (max-width:1000px) {
    .ProductContainer{
        display:flex;
        flex-direction: column;
        text-align: center;

    }

    .ProductCarousel{
        width:100%;
    }

    .CarouselImage{
        height:40vmax;
    }

    .detailDiv{
        width: 100%;
    }
}