.CarouselImage{
   padding: 0;
   width:100%;
   height: 23vw;
}

.ProductCarousel{
    
    width: 40%;
}

.detailDiv{
   width: 40%;
    margin: 2%;
    padding: 2%;
    
   
}

.ProductContainerProductDetails{
    display: flex;
    justify-content: center;
   
    padding-top: 2%;;
  
    
}

.reviews{
    margin:2%;
}

.react-stars-wrapper{
    text-align:center;
}

@media screen and (max-width:1000px) {
    .ProductContainerProductDetails{
        display:flex;
        flex-direction: column;
        text-align: center;

    }

    .ProductCarousel{
        width:100%;
    }

    .CarouselImage{
        height:40vmax;
    }

    .detailDiv{
        width: 100%;
    }
    .stars{
        padding-left:40%;
    }
}