.myOrdersContainerDiv{
  padding: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.orderDetails{
  margin: 4%;
}

.orderDetailsDiv{
display: flex;
flex-wrap: wrap;

}

/* sx={{height:'20vmax',width:'20vmax',padding:'2%',margin:'1%'}} */
.smallerProductCart{
display: flex;
flex-direction: column;
align-items: center;
}

.smallerProductCart > img{
height:10vmax;
width:100%;
}