.profileImage{
    border-radius: 50%;
    height: 10vmax;
    width: 10vmax;
    margin:4%;
}

/* style={{backgroundColor:"whitesmoke",display:"flex",justifyContent:"center",paddingTop:"4%",paddingBottom:"4%"}} */
.profileMainDiv{
    background-color:whitesmoke;display:flex;justify-content:center;padding-top:4%;padding-bottom:4%;
}

.profileImageDiv{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    justify-content: space-between;
}

.profileDetailDiv{
    width: 50%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
}

.profileActionDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}
/* sx={{width:"50%",display:"flex",flexDirection:"column",alignItems:"center",justifyContent:"center",paddingBottom:"4%"}} */

.profilePaperForm{
    width:50%;display:flex;flex-direction:column;align-items:center;justify-content:center;padding-bottom:4%;
}

.paragraphEmail{
    font-size: large;
}

@media screen and (max-width:1000px){
    .profilePaperForm{
        width:90%;display:flex;flex-direction:column;justify-content:center;padding-bottom:4%;
        
        padding-bottom: 15%;
    }

    .paragraphEmail{
        font-size: large;
        text-align: center;
        width:100%;
       
    }

    .profileDetailDiv{
        width: 100%;
    }

    .profileMainDiv{
        padding-top: 15%;
        padding-bottom: 15%;
    }
}