.navbar{
    display: flex;
    flex-direction: column;
    background: #3B9AE1;
    padding: 0;
    width:100%;
}
.logoAndLogin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBarAndIcon{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #21E1E1;
    width:100%
}